table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
}

.button {
    background-color: lightblue;
    padding: 5px;
    box-shadow: 2px 2px 4px lightgrey;
    text-decoration: none;
    outline: none;
    color: black;
}

.button:hover {
    background-color: dodgerblue;
    color: white;
}